
/* latest and latest tool */

div.ep_latest_result {
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}

div.ep_latest_tool_result {
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}

div.dropdown-content-table table{
      color: #333333; /* Change to your preferred color */
      font-family: "Helvetica", sans-serif;
        display: block;
  max-height: 1.0em; /* Three lines of text */
  overflow: hidden;
  text-overflow: ellipsis; /* Truncate text with ellipsis */
 }

/* Optional: Add styles to make the ellipsis visible */
div.dropdown-content-table  table:hover {
  white-space: normal; /* Allow text to wrap on hover */
  max-height: none; /* Remove the height limit on hover */
}

