/* latest and latest tool */

div.ep_latest_result {
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}

div.ep_latest_tool_result {
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}

div.ep_latest_tool_list {
  display: flex;
  flex-flow: row wrap;
}

/* This code is just to style the inner div elements. */
div.ep_latest_tool_list > div.ep_latest_tool_result_test {
  background-color: #white;
  margin: 2px;
  text-align: center;
  line-height: 20px;
  font-size: 20px;
}

.ep_citation_details {
        width: 305px;
        height: 80px;
        overflow: initial; 
        white-space: normal; /* Prevent text from wrapping */
        text-overflow: ellipsis; 
}

.truncated::after {
     content: '...';
     display: inline-block;
}

div.ep_link_title a {
      text-decoration: none;
      color: #666666; /* Change to your preferred color */
      font-family: "Helvetica", sans-serif;
      overflow: hidden;
      text-overflow: ellipsis; /* Truncate text with ellipsis */
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
 }

div.dropdown-content {
      display: block;
      position: relative;
      z-index: 2;
}

.full-names {
background-color: white;
padding-left: 5px;
border: 1px solid rgba(204, 204, 204, 0.8);
margin-top: -4px;
width: fit-content; }

div.dropdown-content-table table{
      color: #333333; /* Change to your preferred color */
 display: block; 
 max-height: 1.4em; /* Three lines of text */
  text-overflow: ellipsis; /* Truncate text with ellipsis */
 }

/* Optional: Add styles to make the ellipsis visible */
div.dropdown-content-table  table:hover {
  white-space: normal; /* Allow text to wrap on hover */
  max-height: none; /* Remove the height limit on hover */
}

@media (max-width: 768px) {
    
    .ep_search_result_test {
       width: 255px;
    }
    .ep_link_title a {
	font-size: 14px;
        width: 250px; /* Adjust maximum width for smaller screens */
	display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
     }
   
    .dropdown-content-table table {
	display: block;
	font-size: 14px;
        width: 250px; /* Adjust maximum width for smaller screens */
    }
    .name-header {
        display: block;
        font-size: 14px;
        width: 250px; 
    }
    .full-names {
        font-size: 14px; 
    }
}

@media (max-width: 600px) {
   
      .ep_search_result_test {
        width: 205px;
      }
     
     .ep_link_title a {
        font-size: 12px;
        width: 200px; /* Adjust maximum width for smaller screens */
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
     }
   
     .dropdown-content-table table {
        display: block;
        font-size: 14px;
        width: 200px; /* Adjust maximum width for smaller screens */
    }

    .name-header {
        display: block;
        font-size: 12px;
        width: 250px; 
    }     

    .full-names table {
        font-size: 12px; 
    }
}

.expandbtn {
            background: none;
            border: none;
            cursor: pointer;
            outline: none;
            text-align: left; /* Align text to the left to prevent centering of the image */
        }

#expand-icon {
            width: 100%; /* Set the image width to 100% of the button */
            height: auto; /* Maintain aspect ratio */
        }

.image-container {
            display: inline-block; /* Ensure the container wraps around the content */
            position: relative; /* Enable positioning of pseudo-elements */
            /* Add other styles as needed */
        }

        .image-container::before {
            content: ""; /* Create a pseudo-element */
            position: absolute; /* Position it absolutely within the container */
            top: 0;
            left: 0;
            width: 100%; /* Make it cover the entire container */
            height: 100%;
            background-image: url('{$config.rel_path}/javascript/images/minus.png'); /* Replace with your background image path */
            background-size: cover;
            background-repeat: no-repeat;
            opacity: 0.5; /* Adjust the opacity as needed */
            z-index: -1; /* Place it behind the content */
        }

