/* EPrints 3 search form style */



/* buttons are on the form, controls on the results */
.ep_search_buttons, .ep_search_controls, .ep_search_controls_bottom {
	border-style: solid none;
	border-width: 1px;
	text-align: center;
	padding: 4px 0px;
	margin: 4px 0px 12px 0px;
}

.ep_search_fields {
	margin-top: 1em;
	margin-bottom: 1em;
}
.ep_search_fields th {
	padding: 4px;
}
	
.ep_search_fields td {
	padding: 4px;
}
	

.ep_search_control
{
	padding: 0px 4px 0px 4px;
}

.ep_search_export {
	margin: 0.25em auto 0.25em auto;
	text-align: center;
}

.ep_search_reorder {
	margin: 0.4em auto 0 auto;
	text-align: center;
}

.ep_search_tool {
	white-space: nowrap;
}
.ep_search_tool img {
	vertical-align: -2px;
	padding-left: 0.5em;
}
.ep_search_tool a {
	text-decoration: none;
}


.ep_search_feed {
	white-space: nowrap;
}
.ep_search_feed img {
	vertical-align: -2px;
	padding-left: 0.5em;
}
.ep_search_feed a {
	text-decoration: none;
	color: #666;
}

.ep_search_results
{
	margin: 1em auto 1em auto;
	display: table;
}

.ep_search_desc
{
	text-align: center;
	margin: 0.25em 0 0 0;
}

.ep_search_result 
{
	display: table-row;
}

.ep_citation_tile_result_docs 
{
        width:100%;
        Zwidth:250px;
        height:180px;
        overflow: hidden;
        border: 1px solid #ccc;
border-radius: 10px 10px 0 0;
margin-bottom: 5px;
}

.ep_citation_tile_result_docs img 
{
        max-width: 100%;
        max-height: 100%;
        display: block;
        margin: auto;
        transition: max-height 1s;
}

@media (min-width: 1276px) {
    .ep_citation_tile_result_docs:hover img {
        max-height: 230%;
    }
}

@media (min-width: 1067px) {
    .ep_citation_tile_result_docs:hover img {
        max-height: 310%;
    }
}

@media (max-width: 1276px) {
    .ep_citation_tile_result_docs {
        width:100%;
        height:150px;
        overflow: hidden;
        border: 1px solid grey;
        }
}

@media (max-width: 1067px) {
    .ep_citation_tile_result_docs {
        /* Further adjust padding or font size for even smaller screens */
        width:100%;
        height:100px;
        overflow: hidden;
        border: 1px solid grey;
        }

    .ep_citation_tile_result_docs img {
        max-height: none;
        object-fit: cover;
    }
}

@media (max-width: 410px) {
    .ep_citation_tile_result_docs {
        /* Further adjust padding or font size for even smaller screens */
        width:100%;
        Zwidth:250px;
        height:180px;
        overflow: hidden;
        border: 1px solid grey;
        }
}

.ep_search_result > div
{
	padding: 4px 0.5em 4px 4px;
	border-bottom: dashed #bbf 1px;
	display: table-cell;
	vertical-align: middle;
}

.ep_paginate_list
{
	margin: auto;
	display: table;
}

.ep_search_field_name
{
	font-weight: bold;
	margin-top: 0.5em;
}

input.ep_form_search_advanced_link, input.ep_form_search_advanced_link:hover {
        border: none;
        text-decoration: underline;
        background: none;
        color: #00f;
        cursor: pointer;
}

span.search_desc {
	font-style: italic;
}



